[submodule "dep/bdwgc"]
	path = dep/bdwgc
	url = https://github.com/ivmai/bdwgc

[submodule "dep/libuv"]
	path = dep/libuv
	url = https://github.com/libuv/libuv


[submodule "dep/replxx"]
	path = dep/replxx
	url = https://github.com/AmokHuginnsson/replxx
